{%extends 'base.html'%}
{%block title%}Wright Store | User Account{%endblock%}
{%block body%}
    <div class="title">
        <h2 class="header">Account</h2>
    </div>
    {%block prof_info%}
        <section class="center">
            <div class="profile_card">
                
                <div class="name_container">
                    <h2 class="vendor_name card_title">{{user_info[1] | title}} {{user_info[2] | title}}</h2>
                    <div class="underline"></div>
                    <div class="contact">
                        <div class="contact_label_cont flex_cont">
                            <p class="contact_label">Phone Number:</p>
                            <p class="contact_info">{{phone}}</p>
                        </div>
                        <div class="underline"></div>
                        <div class="contact_label_cont flex_cont">
                            <p class="contact_label">Email:</p>
                            <p class="contact_info">{{user_info[4]}}</p>
                        </div>
                        <div class="underline"></div>
                        <div class="contact_label_cont flex_cont">
                            <p class="contact_label">Username:</p>
                            <p class="contact_info">{{user_info[5]| title}}</p>
                        </div>
                        <div class="underline"></div>
                    </div>
                </div>
                
            </div>
        </section>
    {%endblock%}
{%endblock%}
